:root {
  --black: #121212;
  --pink: #FF6EE3;
  --blue: #1C1F93;
}

.app {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #121212;
}
