.footerContainer {
    min-height: 100px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    padding: 20px 60px;
    margin-top: 100px;
}

.footerText {
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    transition: 0.1s linear;
}

.footerText:hover {
    transition: 0.1s linear;
    color: rgba(255, 0, 81, 1);
}
