.skillsContainer {
    min-height: 600px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 200px;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

    .skillsTitle {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 60px;
        width: 100%;
        user-select: none;
    }

    .skillsOptionContainer1 {
        min-height: 100px;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 60px;
        padding: 20px;
        background-color: #181818;
        border-left: 2px solid rgb(32, 133, 248);
    }

    .skillsOptionContainer2 {
        min-height: 100px;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        padding: 20px;
        background-color: #181818;
        margin-bottom: 60px;
        border-left: 2px solid rgb(32, 151, 248);
    }

        .skillsOptionContainerLeftText {
            font-size: 18px;
            user-select: none;
        }

        .skillsOptionContainerLeftText2 {
            font-size: 17px;
            user-select: none;
        }

@media screen and (max-width: 1250px) {
    .skillsContainer {
        padding: 20px 150px;
    }
}

@media screen and (max-width: 1000px) {
    .skillsContainer {
        padding: 20px 100px;
    }
}

@media screen and (max-width: 900px) {
    .skillsContainer {
        padding: 20px 60px;
    }

    .skillsOptionContainerLeftText {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .skillsContainer {
        padding: 20px 40px;
    }

    .skillsOptionContainerLeftText2 {
        font-size: 16px;
        user-select: none;
    }
}
